html, body {
  width: 100%;
  margin: 0px;
}

nav {
  background-color: #1a1d40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding: 8px 20px;
}

.logo_cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo_cover i {
  padding-right: 8px;
  font-size: 43px;
  color: #5ad1ff;
  padding: 10px 10px 0px 0px;
}

.logo_cover p {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.profile_cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_cover .profile_dropdown_btn {
  outline: none;
  border: none;
  background-color: #00000003;
  color: #fff;
}

.profile_icon_outer {
  width: 35px;
  height: 35px;
  color: #000;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_p_cover {
  padding-left: 15px;
  padding-right: 7px;
  color: #dad3dc;
  font-weight: 500;
  font-size: 14px;
}

main,
aside {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 6rem;
  background-color: #1a1d40;
  padding-top: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar_div {
  color: #fff;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar_div p {
  font-size: 14px;
}

.sidebar_div div {
  width: 25px;
}

.sidebar_div img {
  width: 100%;
  display: block;
}

.sidebar_div:hover {
  background-color: #303350;
}

section {
  width: 100%;
  padding: 20px 0px 20px 50px;
  font-family: 'Roboto',sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title_div h2 {
  font-size: 32px;
  margin-bottom: 0px;
}

.title_div p {
  font-size: 17px;
}

.card_outer_wrapper {
  margin: 25px 0px;
}

.first_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
}

.column {
  border: 1px solid #d4d4d4;
  text-align: center;
  padding: 30px 17px 20px 17px;
  margin-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.column h4 {
  margin-bottom: 0px;
  font-size: 20px;
}

.column p {
  color: #4a4a4a;
  font-size: 15px;
}

.col_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col_img {
  width: 100px;
}

.col_img img {
  width: 100%;
  display: block;
}

footer {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding: 10px 0px;
  background-color: #1a1d40;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot_copy_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.foot_content_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot_content_div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot_content_div div a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding-right: 20px;
}

.foot_content_div div a:hover {
  color: #5ad1ff;
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    padding: 8px 8px;
  }
  main, aside {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo_cover i {
    font-size: 28px;
  }
  .logo_cover p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .logo_p_cover {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .profile_icon_outer {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .profile_p_cover {
    padding-left: 8px;
    padding-right: 2px;
    font-size: 14px;
  }
  .sidebar_div div {
    width: 18px;
  }
  .sidebar_div p {
    font-size: 12px;
  }
  section {
    padding-right: 15px;
  }
  .title_div h2 {
    font-size: 20px;
  }
  .title_div p {
    font-size: 13px;
  }
  .card_outer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first_row {
    display: block;
  }
  .column {
    margin-top: 15px;
  }
  .column h4 {
    font-size: 16px;
  }
  .column p {
    font-size: 13px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    padding-bottom: 15px;
  }
  .foot_copy_div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */