$Nav_Bg_Color: #1a1d40;
$Nav_Font_Color:#fff;
@import 'display';

html,body{
    height:100%;
    width:100%;
    margin:0px;
}
nav{
    background-color: $Nav_Bg_Color;
    @include display_property(center,space-between);
    font-family: 'Montserrat', sans-serif ;
    color:$Nav_Font_Color;
    padding: 8px 20px;
}
.logo_cover{
    @include display_property(center,center);
    i {
        padding-right: 8px;
        font-size: 43px;
        color: #5ad1ff;
        padding: 10px 10px 0px 0px;
    }
    p{
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
    }

}
.profile_cover{
    display: flex;
    align-items: center;
   .profile_dropdown_btn {
           @include btn_property();
           background-color: #00000003;
           color:$Nav_Font_Color;
    }
}
.profile_icon_outer{
    width: 35px;
    height: 35px;
    color: #000;
    border-radius: 50%;
    background: $Nav_Font_Color;
    @include display_property(center,center);
}
.profile_p_cover{
    padding-left: 15px;
    padding-right: 7px;
    color: #dad3dc;
    font-weight: 500;
    font-size: 14px;
}
main,
aside{
    display:flex;
}
.sidebar{
    width: 6rem;
    background-color:$Nav_Bg_Color;
    padding-top:35px;
    flex-direction:column;
}
   .sidebar_div{
        color: #fff;
        padding-top: 15px;
        display: flex;
    flex-direction: column;
    align-items: center;
        p{
            font-size: 14px;
        }
        div{
            width:25px;
        }
        img{
            width:100%;
            display:block;
        }
        &:hover{
            background-color: #303350;
        }
    }
    section{
        width: 100%;
        padding: 20px 0px 20px 50px;
        font-family: 'Roboto',sans-serif;
        @include display_property(center,center); 
     }
    .title_div{
        h2{
            font-size: 32px;
            margin-bottom: 0px;
        }
         p{
            font-size: 17px;
        }
    } 
    .card_outer_wrapper{
        margin: 25px 0px;
    }
    .first_row{
        display: flex;
       flex-grow: 1;
        margin-bottom: 20px;
    }
    .column{
        border: 1px solid #d4d4d4;
        text-align: center;
        padding: 30px 17px 20px 17px;
        margin-right: 28px;
        @include display_property(center,center); 
        flex-basis: 300px;
        h4{
            margin-bottom: 0px;
            font-size: 20px;
        }
         p{
            color: #4a4a4a;
            font-size: 15px;
        }
      
    }
    .col_wrapper{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
    .col_img{
        width:100px;
        img{
        width:100%;
        display:block;
        }
    }
    footer{
        font-size: 14px;
        color: $Nav_Font_Color;
        font-weight: 500;
        padding: 10px 0px;
        background-color: $Nav_Bg_Color;
        font-family: 'Montserrat', sans-serif ;
        @include display_property(center,center); 
    }
    .foot_copy_div{
        width: 100%;
        @include display_property(center,flex-end); 
    }
    .foot_content_div{
        width: 100%;
        @include display_property(center,center); 
        div{
            @include display_property(center,center); 
            a{
                text-decoration: none;
                color: $Nav_Font_Color;
                font-size: 15px;
                padding-right: 20px; 
                &:hover{
                    color:#5ad1ff;
                }
            }
        }
    }
@media (min-width: 320px) and (max-width: 480px) {
    nav{
        padding: 8px 8px;
    }
    .logo_cover{
        i {
            font-size: 28px;
        }
     p {
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    .logo_p_cover {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .profile_icon_outer {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .profile_p_cover {
        padding-left: 8px;
        padding-right: 2px;
        font-size: 14px;
    }
    .sidebar_div{
        div {
            width: 18px;
        }
        p {
            font-size: 12px;
        }
    } 
    section{
        padding-right: 15px;
    }

    .title_div {
        h2 {
        font-size: 20px;
    }
    p {
        font-size: 13px;
    }
}
    .card_outer_wrapper {
        @include display_property(center,center); 
    }
    .first_row {
        display:block;
    }
    .column {
        margin-top: 15px;
         h4 {
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
   footer{
       flex-direction: column;
       font-size: 13px;
       padding-bottom: 15px;
   }  
   .foot_copy_div{
       justify-content:center;
   }

}